MYSQL_DATABASE=development
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=mysql
MYSQL_PASSWORD=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=development
DB_USERNAME=mysql
DB_PASSWORD=mysql
DB_SSL_MODE=DISABLED
DB_SSL_CA=
DB_SSL_CA_PEM=
TZ=Asia/Tokyo
APP_PORT=80
MYSQL_PORT=3306
PHPMYADMIN_PORT=8081
NGINX_SERVER_NAME=_
